<!DOCTYPE html>
<html>

<head>
    <title>Account Activation</title>
</head>

<body>
    <h1>Hello <%= user.name %>,</h1>
    <p>Thank you for signing up for our Learning Management System. Your activation code is:</p>
    <p><strong>
            <%= activationCode %>
        </strong></p>
    <p>Please use this code to activate your account.</p>
    <p>Best regards, LMS Team</p>
</body>

</html>